In [1]:
# Dependencies
import pandas as pd

In [2]:
# load CSV
# Read with pandas--low_memory required to suppress errors about mixed data types
df = pd.read_csv("Resources/2016-FCC-New-Coders-Survey-Data.csv", low_memory=False)
df.head(3)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampMonthsAgo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,...,ResourceSoloLearn,ResourceStackOverflow,ResourceTreehouse,ResourceUdacity,ResourceUdemy,ResourceW3Schools,ResourceYouTube,SchoolDegree,SchoolMajor,StudentDebtOwe
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"some college credit, no degree",NaN,20000.0
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,"some college credit, no degree",NaN,NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,high school diploma or equivalent (GED),NaN,NaN

In [3]:
# Take only columns 0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111
columns = [0, 1, 2, 3, 4, 6, 7, 8, 9, 10, 11, 29, 30, 32, 36, 37, 45, 48, 56, 110, 111]
extract_df = df.iloc[:, columns]
extract_df.head(3)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,office and administrative support,Employed for wages,male,0.0,30.0,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,food and beverage,Employed for wages,male,NaN,30.0,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Employed for wages,male,NaN,20.0,48000.0,NaN,high school diploma or equivalent (GED),NaN

In [4]:
# Change reading 0 and 1 to No and Yes, respectively
extract_df=extract_df.replace({0.0: "No", 1.0:"Yes"})
extract_df

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
0,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,office and administrative support,Employed for wages,male,No,30,32000.0,NaN,"some college credit, no degree",NaN
1,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,food and beverage,Employed for wages,male,NaN,30,15000.0,Front-End Web Developer,"some college credit, no degree",NaN
2,19.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Employed for wages,male,NaN,20,48000.0,NaN,high school diploma or equivalent (GED),NaN
3,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,NaN,20,43000.0,Front-End Web Developer,bachelor's degree,Cinematography And Film
4,20.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,education,Employed for wages,female,NaN,25,6000.0,Full-Stack Web Developer,"some college credit, no degree",NaN
5,34.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,finance,Self-employed freelancer,male,NaN,5,40000.0,NaN,bachelor's degree,English
6,23.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Singapore,software development,Employed for wages,male,NaN,8,32000.0,NaN,bachelor's degree,Computer Science
7,35.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United Kingdom,office and administrative support,Employed for wages,male,No,NaN,40000.0,NaN,master's degree (non-professional),Education
8,33.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,software development,Employed for wages,male,NaN,5,80000.0,NaN,bachelor's degree,Business Administration
9,33.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,NaN,Employed for wages,male,NaN,20,80000.0,NaN,master's degree (non-professional),Business Administration
10,57.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",...,United States of America,NaN,Self-employed business owner,male,No,8,20000.0,NaN,bachelor's degree,Computer Science
11,23.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Bangladesh,NaN,Not working and not looking for work,male,NaN,5,NaN,NaN,"some college credit, no degree",NaN
12,47.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Canada,health care,Employed for wages,male,NaN,5,90000.0,NaN,bachelor's degree,Mechanical Engineering
13,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,software development,Employed for wages,male,NaN,5,NaN,NaN,bachelor's degree,Business Administration
14,37.0,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,"between 100,000 and 1 million",...,Bosnia & Herzegovina,sales,Self-employed business owner,male,Yes,2,NaN,NaN,"some college credit, no degree",NaN
15,31.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Russia,software development,Employed for wages,female,NaN,10,NaN,NaN,"professional degree (MBA, MD, JD, etc.)",Math
16,27.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,software development,Employed for wages,female,NaN,4,80000.0,NaN,bachelor's degree,Economics
17,29.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",...,United States of America,education,Employed for wages,male,NaN,5,17000.0,NaN,bachelor's degree,Music
18,30.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Canada,software development,Self-employed freelancer,male,NaN,2,16000.0,NaN,bachelor's degree,Music
19,30.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",...,Croatia,NaN,Not working but looking for work,male,No,20,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
20,32.0,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,more than 1 million,...,United States of America,NaN,Employed for wages,female,Yes,5,200000.0,Full-Stack Web Developer,master's degree (non-professional),Geology
21,25.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Doing an unpaid internship,female,NaN,NaN,NaN,NaN,bachelor's degree,Computer Science
22,29.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,No,10,100000.0,NaN,bachelor's degree,Computer Science
23,44.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,office and administrative support,Employed for wages,female,No,30,41000.0,NaN,bachelor's degree,Political Science
24,21.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,India,NaN,Not working but looking for work,male,NaN,25,NaN,NaN,bachelor's degree,Computer Science
25,21.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Not working but looking for work,male,NaN,25,NaN,Full-Stack Web Developer,"some college credit, no degree",NaN
26,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",...,South Africa,NaN,Self-employed freelancer,male,No,Yes,12000.0,NaN,high school diploma or equivalent (GED),NaN
27,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,2,more than 1 million,...,United States of America,software development,Employed for wages,male,Yes,10,60000.0,NaN,"trade, technical, or vocational training",NaN
28,25.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,software development,Employed for wages,male,NaN,10,75000.0,Full-Stack Web Developer,bachelor's degree,Political Science
29,35.0,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,"less than 100,000",...,United Kingdom,software development,Employed for wages,male,Yes,5,35000.0,NaN,master's degree (non-professional),Physics
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15590,25.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,India,software development and IT,Employed for wages,male,NaN,2,200000.0,NaN,bachelor's degree,Computer Science
15591,25.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Brazil,software development and IT,Employed for wages,male,No,2,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Computer Systems Networking and Telecommunicat...
15592,43.0,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,"between 100,000 and 1 million",...,United States of America,software development and IT,Employed for wages,male,Yes,3,200000.0,NaN,high school diploma or equivalent (GED),NaN
15593,29.0,Yes,No,NaN,No,Camp Code Away,NaN,No,NaN,more than 1 million,...,India,software development and IT,Employed for wages,female,No,5,200000.0,NaN,bachelor's degree,Accounting
15594,36.0,No,NaN,NaN,NaN,NaN,NaN,NaN,2,more than 1 million,...,United States of America,finance,Employed for wages,male,Yes,Yes,200000.0,NaN,bachelor's degree,Engineering
15595,30.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Ukraine,software development and IT,Self-employed freelancer,male,No,30,200000.0,NaN,some high school,NaN
15596,30.0,No,NaN,NaN,NaN,NaN,NaN,NaN,2,"less than 100,000",...,Brazil,software development and IT,Employed for wages,male,Yes,2,200000.0,NaN,high school diploma or equivalent (GED),NaN
15597,30.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Ukraine,legal,Self-employed freelancer,male,NaN,6,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Law
15598,28.0,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,"less than 100,000",...,United States of America,food and beverage,Employed for wages,male,Yes,20,200000.0,Full-Stack Web Developer,associate's degree,Computer and Information Systems Security
15599,37.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,software development and IT,Employed for wages,male,NaN,5,200000.0,NaN,"some college credit, no degree",NaN
15600,28.0,Yes,Yes,Yes,No,Epicodus,36000.0,Yes,NaN,"between 100,000 and 1 million",...,United States of America,software development and IT,Employed for wages,female,NaN,8,200000.0,NaN,bachelor's degree,Marketing
15601,25.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,legal,Employed for wages,male,NaN,10,200000.0,NaN,bachelor's degree,Criminal Justice and Safety Studies
15602,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,India,software development and IT,Employed for wages,male,NaN,50,200000.0,Data Scientist / Data Engineer,bachelor's degree,Mathematics
15603,33.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,software development and IT,Employed for wages,male,NaN,4,200000.0,NaN,bachelor's degree,Computer Science
15604,35.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"less than 100,000",...,Norway,construction and extraction,Employed for wages,male,NaN,5,200000.0,Front-End Web Developer,"some college credit, no degree",NaN
15605,31.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Portugal,software development and IT,Employed for wages,male,NaN,5,200000.0,Full-Stack Web Developer,high school diploma or equivalent (GED),NaN
15606,43.0,No,NaN,NaN,NaN,NaN,NaN,NaN,3,more than 1 million,...,Canada,legal,Self-employed business owner,male,Yes,3,200000.0,NaN,bachelor's degree,Physics
15607,25.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Philippines,software development,Self-employed freelancer,male,No,8,200000.0,NaN,no high school (secondary school),NaN
15608,43.0,No,NaN,NaN,NaN,NaN,NaN,NaN,2,more than 1 million,...,United States of America,health care,Employed for wages,male,Yes,6,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Electrical Engineering
15609,33.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Mexico,software development and IT,Employed for wages,male,No,16,200000.0,NaN,bachelor's degree,Software Engineering
15610,29.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,education,Employed for wages,male,NaN,5,200000.0,Front-End Web Developer,master's degree (non-professional),Religious Studies
15611,37.0,No,NaN,NaN,NaN,NaN,NaN,NaN,Yes,more than 1 million,...,Canada,software development and IT,Self-employed business owner,male,Yes,40,200000.0,NaN,"professional degree (MBA, MD, JD, etc.)",Electrical and Electronics Engineering
15612,45.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,NaN,Employed for wages,female,NaN,2,200000.0,NaN,"some college credit, no degree",NaN
15613,30.0,No,NaN,NaN,NaN,NaN,NaN,NaN,2,more than 1 million,...,South Africa,software development and IT,Employed for wages,male,Yes,4,200000.0,NaN,"trade, technical, or vocational training",NaN
15614,47.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"between 100,000 and 1 million",...,United States of America,finance,Employed for wages,male,NaN,3,26000.0,NaN,"trade, technical, or vocational training",NaN
15615,39.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Kenya,software development and IT,Self-employed freelancer,male,No,40,10000.0,NaN,bachelor's degree,Chemistry
15616,27.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,India,software development and IT,Employed for wages,male,No,15,10000.0,Front-End Web Developer,bachelor's degree,Electrical Engineering
15617,37.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Nigeria,NaN,Self-employed freelancer,male,NaN,14,48000.0,NaN,bachelor's degree,Chemistry
15618,26.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,Spain,education,Self-employed freelancer,male,NaN,10,10000.0,NaN,master's degree (non-professional),Math
15619,22.0,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,more than 1 million,...,United States of America,"arts, entertainment, sports, or media",Employed for wages,female,No,2,18000.0,NaN,bachelor's degree,Graphic Design

In [5]:
# Extract rows for only those who attended a bootcamp
bootcamp_attendees_df = extract_df.loc[(extract_df["AttendedBootcamp"] == "Yes")]
bootcamp_attendees_df.head(3)

,Age,AttendedBootcamp,BootcampFinish,BootcampFullJobAfter,BootcampLoanYesNo,BootcampName,BootcampPostSalary,BootcampRecommend,ChildrenNumber,CityPopulation,...,CountryLive,EmploymentField,EmploymentStatus,Gender,HasChildren,HoursLearning,Income,JobRoleInterest,SchoolDegree,SchoolMajor
93,32.0,Yes,Yes,No,No,Codify Academy,NaN,No,NaN,"between 100,000 and 1 million",...,United States of America,"arts, entertainment, sports, or media",Self-employed business owner,male,NaN,20,67000.0,NaN,bachelor's degree,Biology
97,26.0,Yes,Yes,Yes,No,DaVinci Coders,45000.0,No,NaN,more than 1 million,...,United States of America,software development,Employed for wages,male,No,10,40000.0,NaN,master's degree (non-professional),Music
130,41.0,Yes,Yes,Yes,Yes,Coder Foundry,75000.0,Yes,3,"less than 100,000",...,United States of America,software development,Employed for wages,male,Yes,30,75000.0,NaN,"some college credit, no degree",NaN

In [9]:
# Create DataFrame of the different boot camps that had a significant number of attendees
bootcamp_name_groups_df = pd.DataFrame(bootcamp_attendees_df["BootcampName"].value_counts())
bootcamp_name_groups_df.reset_index(inplace=True)
bootcamp_name_groups_df.columns = ["Bootcamp Name", "# Attendees"]
bootcamp_name_groups_df

                                         Bootcamp Name  # Attendees
0                                     General Assembly           90
1                                      Flatiron School           54
2                                         Dev Bootcamp           48
3                                        The Iron Yard           40
4                                Prime Digital Academy           30
5                                         Hack Reactor           29
6                                               Turing           27
7                                   Hackbright Academy           22
8                                          App Academy           22
9                                              Bloc.io           21
10                                        Code Fellows           21
11                                         MakerSquare           20
12                                           Galvanize           20
13                      New York Code + Design Academy           20
14                                         Coding Dojo           18
15                                The Firehose Project           16
16   Free Code Camp is not a bootcamp - please scro...           15
17                                            Epicodus           14
18                                         Dev Academy           13
19                                      Makers Academy           12
20                                   Tech Talent South           12
21                                         Coder Camps           11
22                                      Launch Academy           10
23                                      Software Guild           10
24                                  Viking Code School           10
25                                         DevMountain           10
26                                              Codeup           10
27                                                 Ada            9
28                                      4Geeks Academy            8
29                                           CodeaCamp            8
..                                                 ...          ...
98                                         TalentBuddy            1
99                                          Stackademy            1
100      Microsoft Research Data Science Summer School            1
101                               Ladies Learning Code            1
102                                  Data Science Dojo            1
103                                     Code Institute            1
104                                Origin Code Academy            1
105                              Academic Work Academy            1
106                                         Code Union            1
107                                            Code 42            1
108                                        Coder's Lab            1
109                                  Code For Progress            1
110                                           Le Wagon            1
111                                AngelHack Education            1
112                                          SeedPaths            1
113                                              codeU            1
114                                   CodeCraft School            1
115                                      Claim Academy            1
116           Launch School (formerly Tealeaf Academy)            1
117                                           Betamore            1
118                                Montana Code School            1
119                                      Coder Foundry            1
120                                    Operation Spark            1
121                               Interface Web School            1
122                                        DESIGNATION            1
123                                     Base10 Academy            1
124                                  World Tech Makers            1
125                                  Astro Code School            1
126                                  Founders & Coders            1
127                                  Ruby On The Beach            1

[128 rows x 2 columns]

In [7]:
## Based on results of the previous cell I selected 20 as the floor for 'significant number of attendees'
significant_bootcamps_df = bootcamp_name_groups_df.loc[(bootcamp_name_groups_df["# Attendees"] > 18)]
significant_bootcamps_df

                     Bootcamp Name  # Attendees
0                 General Assembly           90
1                  Flatiron School           54
2                     Dev Bootcamp           48
3                    The Iron Yard           40
4            Prime Digital Academy           30
5                     Hack Reactor           29
6                           Turing           27
7               Hackbright Academy           22
8                      App Academy           22
9                          Bloc.io           21
10                    Code Fellows           21
11                     MakerSquare           20
12                       Galvanize           20
13  New York Code + Design Academy           20

In [10]:
# Count how many attendees of each bootcamp would recommend the bootcamp

recommend_bootcamp = bootcamp_attendees_df.replace({"Yes": 1, "No": 0})
recommend_bootcamp = pd.DataFrame(recommend_bootcamp.groupby("BootcampName")["BootcampRecommend"].sum())

recommend_bootcamp.reset_index(inplace=True)
recommend_bootcamp.columns = ["Bootcamp Name", "# Recommenders"]

recommend_bootcamp.head()

           Bootcamp Name  # Recommenders
0             10x.org.il             3.0
1         4Geeks Academy             4.0
2               AcadGild             2.0
3     Academia de CÃ³digo             4.0
4  Academic Work Academy             0.0

In [12]:
# Merge the two created data frames on the name of tbe bootcamp
merged_df = pd.merge(bootcamp_name_groups_df, recommend_bootcamp, on="Bootcamp Name")
merged_df = merged_df.set_index("Bootcamp Name")
merged_df.head()

                       # Attendees  # Recommenders
Bootcamp Name
General Assembly                90            70.0
Flatiron School                 54            50.0
Dev Bootcamp                    48            41.0
The Iron Yard                   40            31.0
Prime Digital Academy           30            25.0

In [13]:
# Calculate percentage of each bootcamp's students who are recommenders
merged_df["% Recommenders"] = merged_df["# Recommenders"] / merged_df["# Attendees"] * 100

merged_df = merged_df.sort_values(["% Recommenders"], ascending=False)

## Tidying up the decimals (rounding to 2 places)
merged_df.round(2)
merged_df

,# Attendees,# Recommenders,% Recommenders
Bootcamp Name,,,
Ruby On The Beach,1,1.0,100.000000
Coder's Lab,1,1.0,100.000000
Fullstack Academy,6,6.0,100.000000
Code Union,1,1.0,100.000000
Origin Code Academy,1,1.0,100.000000
Code Institute,1,1.0,100.000000
Ladies Learning Code,1,1.0,100.000000
Microsoft Research Data Science Summer School,1,1.0,100.000000
Stackademy,1,1.0,100.000000
The Data Incubator,1,1.0,100.000000
CodeMasters Academy,1,1.0,100.000000
Byte Academy,1,1.0,100.000000
devCodeCamp,4,4.0,100.000000
Academia de CÃ³digo,4,4.0,100.000000
Austin Coding Academy,1,1.0,100.000000
Science to Data Science,1,1.0,100.000000
DigitalCrafts,2,2.0,100.000000
CODEcamp Charleston,2,2.0,100.000000
Omaha Code School,2,2.0,100.000000
We Got Coders,2,2.0,100.000000
EHD Academy,2,2.0,100.000000
Code Platoon,2,2.0,100.000000
LEARN Academy,3,3.0,100.000000
Codecademy Labs,2,2.0,100.000000
Grand Circus,3,3.0,100.000000
Grace Hopper Academy,3,3.0,100.000000
Big Nerd Ranch,2,2.0,100.000000
Coder Factory,2,2.0,100.000000
Dev League,3,3.0,100.000000
Telegraph Academy,2,2.0,100.000000
...,...,...,...
Digital House,2,1.0,50.000000
Devschool,4,2.0,50.000000
Mobile Makers Academy,2,1.0,50.000000
Fire Bootcamp,2,1.0,50.000000
Metis,2,1.0,50.000000
Bit Bootcamp,4,2.0,50.000000
HackerYou,2,1.0,50.000000
LearningFuze,2,1.0,50.000000
Camp Code Away,4,2.0,50.000000
RefactorU,4,2.0,50.000000
PDX Code Guild,2,1.0,50.000000
V School,3,1.0,33.333333
Starter League,3,1.0,33.333333
Zip Code Wilmington,3,1.0,33.333333
Coding House,3,1.0,33.333333
tradecraft,3,1.0,33.333333
We Can Code IT,3,1.0,33.333333
Codify Academy,4,1.0,25.000000
TalentBuddy,1,0.0,0.000000
Code For Progress,1,0.0,0.000000
Alphappl,1,0.0,0.000000
Atlanta Code,1,0.0,0.000000
Montana Code School,1,0.0,0.000000
DaVinci Coders,2,0.0,0.000000
Academic Work Academy,1,0.0,0.000000
Interface Web School,1,0.0,0.000000
Academy X,1,0.0,0.000000
World Tech Makers,1,0.0,0.000000
Astro Code School,1,0.0,0.000000
Data Science Dojo,1,0.0,0.000000

In [ ]:
# Export to excel and remove index
merged_df.to_excel('output/pandas_mini_project_B_output.xlsx', index=False)